# 1. 각 반 별 결석한 학생의 수를 합산하는 열을 추가하고  2. 빠진 학생의 평균을 일주일단위로 보여주는 DataFrame인 week_absent를 만들어라

In [28]:
import pandas as pd
import numpy as np

index=pd.date_range('11/2/2022', periods=14, freq='D')
absent= pd.DataFrame([[1,np.nan],[1,2],[1,1],[np.nan,np.nan],[np.nan,2],[2,1],[3,np.nan],[np.nan,np.nan],[1,2],[2,1],[np.nan,3],[np.nan,2],[2,2],[np.nan,np.nan]]
                  ,index=index,columns=['A반','B반'])

In [29]:
absent

             A반   B반
2022-11-21  1.0  NaN
2022-11-22  1.0  2.0
2022-11-23  1.0  1.0
2022-11-24  NaN  NaN
2022-11-25  NaN  2.0
2022-11-26  2.0  1.0
2022-11-27  3.0  NaN
2022-11-28  NaN  NaN
2022-11-29  1.0  2.0
2022-11-30  2.0  1.0
2022-12-01  NaN  3.0
2022-12-02  NaN  2.0
2022-12-03  2.0  2.0
2022-12-04  NaN  NaN

In [30]:
absent.fillna(0,inplace=True)

In [31]:
absent['합산'] = absent.eval('A반 + B반')

In [32]:
absent

             A반   B반   합산
2022-11-21  1.0  0.0  1.0
2022-11-22  1.0  2.0  3.0
2022-11-23  1.0  1.0  2.0
2022-11-24  0.0  0.0  0.0
2022-11-25  0.0  2.0  2.0
2022-11-26  2.0  1.0  3.0
2022-11-27  3.0  0.0  3.0
2022-11-28  0.0  0.0  0.0
2022-11-29  1.0  2.0  3.0
2022-11-30  2.0  1.0  3.0
2022-12-01  0.0  3.0  3.0
2022-12-02  0.0  2.0  2.0
2022-12-03  2.0  2.0  4.0
2022-12-04  0.0  0.0  0.0

In [38]:
absent_week=absent.resample('W').mean()

In [42]:
absent_week

                  A반        B반        합산
2022-11-27  1.142857  0.857143  2.000000
2022-12-04  0.714286  1.428571  2.142857