# 지예 & 종민 데이터분석 (책)

### 목차
    * 결측치 제거
    * 특정 열 검색
    * 열 data_type 변환
    * 데이터 정렬
    * 중복값 카운트

---

In [1]:
import pandas as pd

# 1. book_data라는 csv파일을 가져온다

In [2]:
book_data = pd.read_csv("data/book_data.csv",encoding='euc-kr')

In [3]:
book_data

,book_name,book_writer,book_date,book_price,book_cover,book_page,book_size,book_weight,book_category,book_publisher,sales_point
0,올 더 빌딩스 인 런던,제임스 걸리버 핸콕,2018-08-25,"14,400",양장본,140,225*280mm,476,예술/대중문화,책발전소,110
1,렛 잇 블리드,이언 랜킨,2018-08-19,"13,320",반양장본,476,128*188mm,476,소설/시/희곡,오픈하우스,110
2,은유로 사회 읽기,대니얼 리그니,2018-08-20,"39,500",양장본,416,152*223mm,749,사회과학,한울(한울아카데미),10
3,유럽 맥주 여행,백경학,2018-08-24,"14,400",반양장본,308,150*220mm,400,역사,글항아리,10
4,"이게, 행복이 아니면 무엇이지",김혜령,2018-08-20,"13,050",NaN,288,135*200mm,374,인문학,웨일북,10
...,...,...,...,...,...,...,...,...,...,...,...
1995,여기는 함께섬 정치를 배웁니다,최승필,2018-06-01,"10,800",반양장본,136,175*240mm,258,어린이,천개의바람,770
1996,"아빠, 이런 여행 어때?",김동옥,2018-05-30,"13,500",반양장본,344,130*188mm,453,여행,씽크스마트,"2,555"
1997,생각의 힘,이나모리 가즈오,2018-06-15,"12,600",양장본,192,128*188mm,327,자기계발,한국경제신문,"1,305"
1998,양자 역학이란 무엇인가,마이클 워커,2018-06-04,"19,800",반양장본,488,152*224mm,730,과학,처음북스(구 빅슨북스),915
1999,지옥사원 2,네온비,2018-05-30,"10,800",반양장본,260,148*210mm,423,만화,위즈덤하우스,705

In [4]:
book_data.isnull().sum()

book_name           0
book_writer         0
book_date           0
book_price          0
book_cover        317
book_page           0
book_size           1
book_weight         0
book_category       0
book_publisher      0
sales_point         0
dtype: int64

# 2. book_cover 열의 NaN 값을 "자료없음" 으로 바꾸기

In [5]:
book_data['book_cover'].fillna("자료없음",inplace=True)
book_data[['book_cover']]

     book_cover
0           양장본
1          반양장본
2           양장본
3          반양장본
4          자료없음
...         ...
1995       반양장본
1996       반양장본
1997        양장본
1998       반양장본
1999       반양장본

[2000 rows x 1 columns]

# 3. 카테고리에서 에세이 인 항목만 검색

In [6]:
book_data.loc[book_data['book_category'] == '에세이'].head(10)

,book_name,book_writer,book_date,book_price,book_cover,book_page,book_size,book_weight,book_category,book_publisher,sales_point
11,이제 나부터 좋아하기로 했습니다,엔도 슈사쿠,2018-08-30,"11,520",자료없음,196,128*190mm,255,에세이,북스토리,10
15,겹겹의 의도,장자크 상페,2018-08-15,"13,320",양장본,104,188*257mm,260,에세이,열린책들,10
16,아름다운 날들,장자크 상페,2018-08-15,"13,320",양장본,104,188*257mm,260,에세이,열린책들,210
27,알록달록,정여울,2018-08-16,"10,080",반양장본,168,128*188mm,168,에세이,천년의상상,480
29,한국 작가가 읽은 세계문학,"김연수,?신형철,?김애란,?심보선,?최은영",2018-08-17,"7,920",반양장본,824,140*210mm,880,에세이,문학동네,210
32,바이올린과 순례자,마틴 슐레스케,2018-08-15,"13,500",자료없음,336,145*215mm,437,에세이,니케북스,160
48,이제 고양이와 살기 이전의 나로 돌아갈 수 없다,가쿠타 미츠요,2018-08-21,"12,420",반양장본,232,128*188mm,325,에세이,위즈덤하우스,"2,630"
100,당신이 허락한다면 나는 이 말 하고 싶어요,김제동,2018-09-05,"14,400",자료없음,400,150*215mm,520,에세이,나무의마음,"6,540"
104,내성적인 여행자,정여울,2018-08-10,"15,120",반양장본,392,140*205mm,580,에세이,해냄,"1,940"
118,감옥으로부터의 사색 (30주년 기념 특별한정판),신영복,2018-08-15,"22,500",양장본,488,153*225mm,732,에세이,돌베개,"20,450"

---

# 4. 원하는 열만 선택해서 사용

In [7]:
best_saler=book_data[['book_name','book_date','book_publisher', 'sales_point']]

In [8]:
best_saler

             book_name   book_date book_publisher sales_point
0         올 더 빌딩스 인 런던  2018-08-25           책발전소         110
1              렛 잇 블리드  2018-08-19          오픈하우스         110
2            은유로 사회 읽기  2018-08-20     한울(한울아카데미)          10
3             유럽 맥주 여행  2018-08-24           글항아리          10
4     이게, 행복이 아니면 무엇이지  2018-08-20            웨일북          10
...                ...         ...            ...         ...
1995  여기는 함께섬 정치를 배웁니다  2018-06-01          천개의바람         770
1996     아빠, 이런 여행 어때?  2018-05-30          씽크스마트       2,555
1997             생각의 힘  2018-06-15         한국경제신문       1,305
1998      양자 역학이란 무엇인가  2018-06-04   처음북스(구 빅슨북스)         915
1999            지옥사원 2  2018-05-30         위즈덤하우스         705

[2000 rows x 4 columns]

In [9]:
best_saler.dtypes

book_name         object
book_date         object
book_publisher    object
sales_point       object
dtype: object

# 5. sales_point 타입의 숫자를 사용하기 위해 data_type 변환

In [11]:
best_saler['sales_point'] =best_saler.loc[:,'sales_point'].str.replace(',','').astype('int')

C:\Users\castlemin\AppData\Local\Temp\ipykernel_11808\3051825807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  best_saler['sales_point'] =best_saler.loc[:,'sales_point'].str.replace(',','').astype('int')

In [12]:
best_saler.dtypes

book_name         object
book_date         object
book_publisher    object
sales_point        int32
dtype: object

# 6. 판매량이 높은 순서대로 top10 데이터 확보

In [13]:
best_saler = best_saler.nlargest(100,'sales_point')

In [14]:
best_saler.head(10)

                           book_name   book_date book_publisher  sales_point
1823                          역사의 역사  2018-06-25            돌베개       408240
505   나미야 잡화점의 기적 (100만 부 기념 특별 한정판)  2018-07-27           현대문학       375092
1540               죽고 싶지만 떡볶이는 먹고 싶어  2018-06-20              흔       188670
1664                          열두 발자국  2018-07-02           어크로스       154520
1360                            인생좌표  2018-06-29  중앙books(중앙북스)       152865
1571                       내게 무해한 사람  2018-06-30           문학동네       129290
1010     그리고 아무도 없었다 (리커버 특별판. 페이퍼백)  2018-07-06           황금가지        83380
1364                     황현산의 사소한 부탁  2018-06-25             난다        82095
848                          있으려나 서점  2018-07-17             온다        81275
200                     좀비고등학교 코믹스 8  2018-08-15             겜툰        70140

# 7. Top 100 순위 안의 책을 가장 많이 출간한 출판사 도출

In [15]:
best_publisher = best_saler['book_publisher'].value_counts().head()

In [16]:
best_publisher

황금가지            5
문학동네            4
알에이치코리아(RHK)    4
창비              3
위즈덤하우스          3
Name: book_publisher, dtype: int64