In [1]:
import pandas as pd
import numpy as np

### 파일 로드

In [2]:
input_file = 'naver_restorant_review.csv'
df_naver = pd.read_csv(input_file)
df_naver.head()

,STORE_NAME,CATEGORY,STORE_SCORE,STORE_ADDR,TEL,OPEN_CLOSE_TIME,WRITER,CONTENT,CREATED_AT,TYPE,IMG_LINK
0,해적선,생선회,NaN,제주 제주시 추자면 추자로 42-1 1층,0507-1350-7112,NaN,NaN,NaN,NaN,네이버,NaN
1,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,st****,지인소개로 왔어요 지금 주문후 기다리는 중인데 일단 매우 청결한 홀 상태 맘에 ...,2.2.목,네이버,NaN
2,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,괴녀루팡min47,현지인 맛집이라고 검색 해서 갔는데 친절한 사장님 맛나게 잘 먹고 왔습니다 재방문...,22.12.19.월,네이버,NaN
3,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,좋아요굿,2인정식 26000원입니다.\n\n반찬잘나오는편이에요\n굿,1.17.화,네이버,NaN
4,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,좋아요굿,반찬이 정갈하고 깔끔해요\n\n친절하시고 \n맛있어요^^,1.16.월,네이버,NaN

In [3]:
df_naver['STORE_NAME'].value_counts().head(50)

카페텐저린        2950
로뎀가든         2771
올래국수         2572
오가네전복설렁탕     2315
협재칼국수        2171
명월국민학교       1700
대기정          1588
해월정          1538
제갈양 제주협재점    1457
삼무국수         1426
하하호호         1300
뵤뵤           1184
부두식당         1168
오복떡집         1113
쌍둥이횟집본점      1100
바다다          1099
외도339        1052
공백            982
비테비테          980
그리운바다성산포      968
온오프           927
에스프레소 라운지     906
노라바           901
제주기와          879
곤밥2           864
도두해녀의집        854
양가형제          840
용이식당          798
랜딩 다이닝        783
물꼬해녀의집        781
광평도새기촌 본점     772
다가미           770
착한집           767
제주미향          756
시스터필드         717
바움하우스         705
아줄레주          676
사계바다          657
만선식당          655
덕승식당          654
백리향           645
자리돔횟집         628
동해미락          623
제주그림카페        613
데미안           605
곱들락           570
우도해녀식당        538
본카페           524
국수앤           522
흑돼지BBQ        517
Name: STORE_NAME, dtype: int64

In [4]:
df_naver.shape

(93981, 11)

In [5]:
df_naver.isnull().sum()

STORE_NAME             0
CATEGORY               0
STORE_SCORE         6914
STORE_ADDR             0
TEL                  337
OPEN_CLOSE_TIME    65385
WRITER                30
CONTENT             3684
CREATED_AT            10
TYPE                   0
IMG_LINK           93981
dtype: int64

In [6]:
input_file2 = '음식점완성2.csv'
data_frame = pd.read_csv(input_file2, encoding = 'cp949')
data_frame.head()

,관련 태그 전체,콘텐츠 ID,콘텐츠명,주소,도로명주소,태그,간단소개,위도,경도,우편번호,전화번호
0,"카페,슈크림볼,탑동라떼,링고라떼,현금결제,카드결제,무료 WIFI",CNTS_000000000022203,달빛머금은카페,제주특별자치도 제주시 건입동 1399-10,제주특별자치도 제주시 중앙로3길 17,"카페,슈크림볼,탑동라떼,링고라떼,음식,아메리카노,카페라떼,카푸치노,카라멜마끼아또,캐...",칠성로 탑동사거리 숨어있는 제주 돌담 달빛머금은 카페,33.515693,126.526447,NaN,070-4244-0708
1,"추자음식점,추자식당,추자향토음식점,추자회식당,추자도,음식,한치물회,전복물회,물회,고...",CNTS_200000000009101,해적선,제주특별자치도 제주시 추자면 대서리 144-1,제주특별자치도 제주시 추자면 추자로 42-1,"추자음식점,추자식당,추자향토음식점,추자회식당,추자도,음식,한치물회,전복물회,물회,고...",추자도에서 잡히는 싱싱한 생선으로 요리하는 음식점,33.962759,126.295205,NaN,010-8623-8229
2,"육개장,두루치기,갈비탕,음식,동태찌개,순두부찌개,현금결제,카드결제,화장실,음료대,아...",CNTS_000000000001014,영춘식당,제주특별자치도 제주시 도남동 921-50,제주특별자치도 제주시 도남로7길 37-1,"육개장,두루치기,갈비탕,음식,동태찌개,순두부찌개","육개장, 갈비탕 전문점으로 정식과 두루치기를 판매하는 가족경영의 착한가격업소 영춘식당",33.496890,126.527363,NaN,064-900-2770
3,"카페,커피,케이크,음료,현금결제,카드결제,화장실",CNTS_000000000022189,멘도롱 카페,제주특별자치도 서귀포시 대정읍 하모리 770-2,제주특별자치도 서귀포시 대정읍 하모항구로 70,"카페,커피,케이크,음료,음식,아메리카노,프레즐,카페라떼,카푸치노,플랫화이트,바닐라라...",제주 서귀포에 위치한 조용하고 예쁜 모슬포항 멘도롱 카페,33.219499,126.251543,NaN,064-792-3727
4,"집밥,혼밥,도시락,제주도청,유기농,현금결제,카드결제,화장실",CNTS_200000000008049,열공부엌,제주특별자치도 제주시 연동 327-4,제주특별자치도 제주시 선덕로8길 26 비산쉐르빌 가동 103호,"집밥,혼밥,도시락,제주도청,유기농,음식",5000원에 잘 차려진 집밥 한 상을 먹을 수 있는 곳.,33.483257,126.500801,NaN,064-712-6009

### 후기정보 데이터베이스 작성

In [7]:
df = data_frame.iloc[:,1:3]
df.head()

                 콘텐츠 ID     콘텐츠명
0  CNTS_000000000022203  달빛머금은카페
1  CNTS_200000000009101      해적선
2  CNTS_000000000001014     영춘식당
3  CNTS_000000000022189   멘도롱 카페
4  CNTS_200000000008049     열공부엌

In [8]:
df['콘텐츠명'].unique()

array(['달빛머금은카페', '해적선', '영춘식당', ..., '우리회수산', '제주선', '라포레사려니'],
      dtype=object)

In [9]:
df_naver['STORE_NAME'].unique()

array(['해적선', '영춘식당', '황금섬숯불갈비', '추가네', '리틀비엣', '바람이풀에그림그린날', '탐라가든',
       '추자북경', '몰질식육식당', '심봉사눈뜬톳해물짜장짬뽕', '올레실내포장마차', '고향향토장터', '빠빠라기',
       '내가 찾은 맛고을', '바닐라파레트', '구면카페', '제주분식', '커피파인더', '후년하우스', '코끼리통닭',
       '블리스풀', '촵촵', '엘파소', '몽생이', '대향연탄구이', '청파식당횟집', '빨간집', '복단지식당',
       '내담', '별난카페', '피자아일랜드', '원당골', '팜스테이블', '바움하우스', '한밭식당', '고망딱새',
       '해월향', '현경식당', '갯것이식당', '겹겹의 의도', '위더스트래블', '마라도별장식당', '감저카페',
       '이가전복', '잔디가미', '금보가든', '타임스탬프', '마라톤식당', '낭쿰낭쿰', '동해루', '성광식당',
       '영해식당', '카페원웨이', '웃뜨르우리돼지', '오누이밥상', '탭하우스더코너', '유나카페', '본카페',
       '만선바다', '봉주르마담', '산내들식당', '차이나마씸', '마레벤또', '차마실', '아따블르', '인풍감자탕',
       '올레삼다정', '제주콩순옥', '백수당', '보말이야기', '두루두루', '두가시영', '어애랑', '낭만주의',
       '용이식당', '더 코브', '파시랑', '1080칼국수', '커피림', '이게밥도둑', '미복빈대떡', '숨비나리',
       '바코', '제주침시술소바', '호도제과', '마실디', '커피로카', '커피코알라', '석다원', '베이크샵스니프',
       '서문뒷고기', '빅토리아', '시스터필드', '우뭇개일번지', '쫑이네밥집', '안녕구움', '일출왕뚝배기',
       '서홍정원', '생원전복', '대기정', '덕승식당', '아줄레주', '식전당포', '제주정', '동북왕', '이너프',
       '명성식당', '착한집', '허니문하우스', '소반', '타무라', '오르막가든', '카이터스', '귀빈식당',
       '플로렌스', '카페2085', '제주돔베막국수', '면사무소', '보라네', '모노클제주', '마님순대', '오캄',
       '홍도니', '서귀포갈비', '청정고을식당', '메로식당', '컴플리트커피', '씨리얼', '라쁠라주', '꽃향유',
       '어머니빵집', '함덕찜', '감나무집', '사방팔방', '창흥식당', '마돈', '하나로국밥', '자리돔횟집',
       '흑돼지BBQ', '찰리아저씨맛집', '오복떡집', '누룽지식당', '오르미', '메종드쁘티푸르', '대포횟집',
       '커피앤빵', '나무카페', '안트레', '미나리', '돈풍년', '명물', '황금어장', '제주기와', '비자블라썸',
       '세러데이아일랜드', '돌코롬봉봉', '송당나무', '다소니', '플라이오조', '제주서문수산', '제주오누이',
       '앙카페', '산방식당', '봉봉커피', '와토커피', '데미안', '신산리마을카페', '빌레왓', '허벅식당',
       '돌하르방식당', '말이', '가시식당', '아라파파', '쌍둥이횟집본점', '벨롱', '서귀포흑돈', '해담은',
       '황금손가락', '맛나식당', '로뎀가든', '국수앤', '카이로스', '노라바', '우도이야기', '대성아귀찜',
       '올댓제주', '한성식당', '이어도식당', '해월정', '우도왕자이야기', '우수미회센타', '숨비나리카페',
       '안녕육지사람', '카페제주동네', '바당지기', '2093하우스', '남양수산', '중앙식당', '해뜨는식당',
       '삼무국수', '만원의행복', '제주해물밥', '하하호호', '섬소나이', '최고집', '북촌에가면', '아뜰리에안',
       '덕성원', '보엠', '메콩스카이', '생돈우리', '사계바다', '오드랑베이커리', '에스프레소 라운지',
       '제주미향', '양가형제', '다가미', '블랑로쉐', '우도해녀식당', '삼일식당', '카페소금', '우드스탁',
       '한라식당', '연우네', '시골길', '돌미롱', '오가네전복설렁탕', '제주흑돈세상수라간', '소라횟집',
       '픽스커피', '피자굽는돌하르방', '돼지촌', '제주뚝배기', '어머니와고등어', '이오리', '제주삼다국수',
       '까미노', '복자씨연탄구이', '돈사촌', '삼보식당', '비테비테', '청담집', '블랑제리', '곤밥2',
       '연동길', '안전식당', '동이트는집', '모앙', '그루브', '중문정', '싱싱잇', '카페한라산',
       '고사리식당', '아리', '잔물결', '솔트스톤', '카페텐저린', '카페 라라라', '진주식당', '온오프',
       '애월은혜전복', '선흘곶', '휴일로', '거기제주', '명태명가', '썬셋클리프', '만월당', '참솔식당',
       '공백', '제주통큰장어', '오라디오라', '서진향해장국', '순두부엔짬뽕', '윈드스톤', '용꽈배기',
       '제주머슴네', '백리향', '진돼지', '제주스', '만선식당', '제갈양 제주협재점', '명랑스낵',
       '랜딩 다이닝', '동해미락', '타이웍', '풍림다방 송당점', '글라글라하와이', '쇼밥',
       '어머니의뜻을담다 단지', '더클리프', '티나케이크', '피제리아3657', '제주다음', '마로니에 미니골프카페',
       '코코리파이프', '달그락식탁', '물꼬해녀의집', '미엘드세화', '사해방흑돼지', '그리운바다성산포',
       '바람벽에흰당나귀', '모모제이', '문화통닭', '원앤온리', '애나의숲 브런치카페', '랜딩 라운지',
       '제주그림카페', '뵤뵤', '김서방재첩해장국', '나라돈까스', '공단해장국', '올디벗구디', '어진이네 횟집',
       '하원가흑돼지', '미드나잇 제주', '블랙포엠', '땡큐베리', '과수원집', '회춘', '광평도새기촌 본점',
       '성아시', '엉덩물', '카페록록', '외도339', '올래국수', '제주올레횟집', '다육이풍경', '미나리식당',
       '협재칼국수', '명월국민학교', '비원', '아싸횟집', '성미식당', '중국집마씸', '석촌식당',
       '올레수산회센터', '조은빵', '나무식탁', '명당양과', '곱들락', '제주돌창고', '대우정', '행복맛집',
       '함덕쉼팡', '제주901', '부두식당', '카페마니', '돌집식당', '도두해녀의집', '둥지식당', '모닥치기',
       '산책하우스', '광원', '델문도', '카페갤러리', '예산가마솥장수촌설렁탕', '명리동식당', '냠냠제주',
       '제주이야기', '바다잔치', '우무', '바다다', '길림성', '새빌', '애월더선셋', '제주선'],
      dtype=object)

In [10]:
df.shape

(1580, 2)

In [12]:
df_naver.shape

(93981, 11)

In [13]:
df2 = pd.merge(df, df_naver, how='inner', left_on = '콘텐츠명', right_on = 'STORE_NAME')
df2.head()

,콘텐츠 ID,콘텐츠명,STORE_NAME,CATEGORY,STORE_SCORE,STORE_ADDR,TEL,OPEN_CLOSE_TIME,WRITER,CONTENT,CREATED_AT,TYPE,IMG_LINK
0,CNTS_200000000009101,해적선,해적선,생선회,NaN,제주 제주시 추자면 추자로 42-1 1층,0507-1350-7112,NaN,NaN,NaN,NaN,네이버,NaN
1,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,st****,지인소개로 왔어요 지금 주문후 기다리는 중인데 일단 매우 청결한 홀 상태 맘에 ...,2.2.목,네이버,NaN
2,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,괴녀루팡min47,현지인 맛집이라고 검색 해서 갔는데 친절한 사장님 맛나게 잘 먹고 왔습니다 재방문...,22.12.19.월,네이버,NaN
3,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,좋아요굿,2인정식 26000원입니다.\n\n반찬잘나오는편이에요\n굿,1.17.화,네이버,NaN
4,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,좋아요굿,반찬이 정갈하고 깔끔해요\n\n친절하시고 \n맛있어요^^,1.16.월,네이버,NaN

In [14]:
df2.shape

(95279, 13)

In [15]:
df2.isnull().sum()

콘텐츠 ID                 0
콘텐츠명                   0
STORE_NAME             0
CATEGORY               0
STORE_SCORE         6914
STORE_ADDR             0
TEL                  337
OPEN_CLOSE_TIME    65577
WRITER                30
CONTENT             3726
CREATED_AT            10
TYPE                   0
IMG_LINK           95279
dtype: int64

In [16]:
df3 = df2.drop(['콘텐츠명','OPEN_CLOSE_TIME','CATEGORY','STORE_NAME','STORE_ADDR','IMG_LINK'],axis=1)
df3

,콘텐츠 ID,STORE_SCORE,TEL,WRITER,CONTENT,CREATED_AT,TYPE
0,CNTS_200000000009101,NaN,0507-1350-7112,NaN,NaN,NaN,네이버
1,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,st****,지인소개로 왔어요 지금 주문후 기다리는 중인데 일단 매우 청결한 홀 상태 맘에 ...,2.2.목,네이버
2,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,괴녀루팡min47,현지인 맛집이라고 검색 해서 갔는데 친절한 사장님 맛나게 잘 먹고 왔습니다 재방문...,22.12.19.월,네이버
3,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,좋아요굿,2인정식 26000원입니다.\n\n반찬잘나오는편이에요\n굿,1.17.화,네이버
4,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,좋아요굿,반찬이 정갈하고 깔끔해요\n\n친절하시고 \n맛있어요^^,1.16.월,네이버
...,...,...,...,...,...,...,...
95274,CNTS_200000000007431,별점\n4.36/5,064-908-1260,home7,은갈치 정식을 너무 맛있게먹었어요.\n어설픈 가게 가는 것보다 한 끼 정갈하게 딱!...,20.8.14.금,네이버
95275,CNTS_200000000007431,별점\n4.36/5,064-908-1260,날아라민짱,갈치가 매우짬.,20.9.12.토,네이버
95276,CNTS_200000000007431,별점\n4.36/5,064-908-1260,2j****,NaN,20.3.18.수,네이버
95277,CNTS_200000000007431,별점\n4.36/5,064-908-1260,연세미니성형외과,NaN,20.3.18.수,네이버
95278,CNTS_200000000007431,별점\n4.36/5,064-908-1260,kik****,신화월드 메리어트 호텔내 고급진 한식당이에요. \n분위기. 음식맛 최고내요.,20.1.1.수,네이버

In [17]:
df3.shape

(95279, 7)

In [18]:
df4 = df3.copy()

In [19]:
df4.rename(columns={'콘텐츠 ID':'ID'},inplace=True)

In [20]:
df4.head()

,ID,STORE_SCORE,TEL,WRITER,CONTENT,CREATED_AT,TYPE
0,CNTS_200000000009101,NaN,0507-1350-7112,NaN,NaN,NaN,네이버
1,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,st****,지인소개로 왔어요 지금 주문후 기다리는 중인데 일단 매우 청결한 홀 상태 맘에 ...,2.2.목,네이버
2,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,괴녀루팡min47,현지인 맛집이라고 검색 해서 갔는데 친절한 사장님 맛나게 잘 먹고 왔습니다 재방문...,22.12.19.월,네이버
3,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,좋아요굿,2인정식 26000원입니다.\n\n반찬잘나오는편이에요\n굿,1.17.화,네이버
4,CNTS_000000000001014,별점\n4.57/5,0507-1425-2773,좋아요굿,반찬이 정갈하고 깔끔해요\n\n친절하시고 \n맛있어요^^,1.16.월,네이버

In [21]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95279 entries, 0 to 95278
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           95279 non-null  object
 1   STORE_SCORE  88365 non-null  object
 2   TEL          94942 non-null  object
 3   WRITER       95249 non-null  object
 4   CONTENT      91553 non-null  object
 5   CREATED_AT   95269 non-null  object
 6   TYPE         95279 non-null  object
dtypes: object(7)
memory usage: 5.8+ MB

In [22]:
df4.isnull().sum()

ID                0
STORE_SCORE    6914
TEL             337
WRITER           30
CONTENT        3726
CREATED_AT       10
TYPE              0
dtype: int64

In [23]:
df4.shape

(95279, 7)

In [24]:
df4.rename(columns={'STORE_SCORE':'SCORE'},inplace = True)

In [25]:
df4['CONTENT']=df4['CONTENT'].str.replace('\n','')
df4['SCORE'] = df4['SCORE'].replace('별점\n', '', regex=True)
df4['SCORE'] = df4['SCORE'].replace('/5', '', regex=True)
df4['TYPE']=df4['TYPE'].str.replace('네이버','naver')

In [26]:
df4.shape

(95279, 7)

In [27]:
df4 = df4[['ID','WRITER','CONTENT','TYPE','SCORE','CREATED_AT']]
df4

,ID,WRITER,CONTENT,TYPE,SCORE,CREATED_AT
0,CNTS_200000000009101,NaN,NaN,naver,NaN,NaN
1,CNTS_000000000001014,st****,지인소개로 왔어요 지금 주문후 기다리는 중인데 일단 매우 청결한 홀 상태 맘에 ...,naver,4.57,2.2.목
2,CNTS_000000000001014,괴녀루팡min47,현지인 맛집이라고 검색 해서 갔는데 친절한 사장님 맛나게 잘 먹고 왔습니다 재방문...,naver,4.57,22.12.19.월
3,CNTS_000000000001014,좋아요굿,2인정식 26000원입니다.반찬잘나오는편이에요굿,naver,4.57,1.17.화
4,CNTS_000000000001014,좋아요굿,반찬이 정갈하고 깔끔해요친절하시고 맛있어요^^,naver,4.57,1.16.월
...,...,...,...,...,...,...
95274,CNTS_200000000007431,home7,은갈치 정식을 너무 맛있게먹었어요.어설픈 가게 가는 것보다 한 끼 정갈하게 딱! 먹...,naver,4.36,20.8.14.금
95275,CNTS_200000000007431,날아라민짱,갈치가 매우짬.,naver,4.36,20.9.12.토
95276,CNTS_200000000007431,2j****,NaN,naver,4.36,20.3.18.수
95277,CNTS_200000000007431,연세미니성형외과,NaN,naver,4.36,20.3.18.수
95278,CNTS_200000000007431,kik****,신화월드 메리어트 호텔내 고급진 한식당이에요. 분위기. 음식맛 최고내요.,naver,4.36,20.1.1.수

---

### 업체정보 데이터 베이스 파일 작성

In [28]:
data_frame.head(1)

,관련 태그 전체,콘텐츠 ID,콘텐츠명,주소,도로명주소,태그,간단소개,위도,경도,우편번호,전화번호
0,"카페,슈크림볼,탑동라떼,링고라떼,현금결제,카드결제,무료 WIFI",CNTS_000000000022203,달빛머금은카페,제주특별자치도 제주시 건입동 1399-10,제주특별자치도 제주시 중앙로3길 17,"카페,슈크림볼,탑동라떼,링고라떼,음식,아메리카노,카페라떼,카푸치노,카라멜마끼아또,캐...",칠성로 탑동사거리 숨어있는 제주 돌담 달빛머금은 카페,33.515693,126.526447,NaN,070-4244-0708

In [29]:
data_frame.shape

(1580, 11)

In [30]:
data_frame2 = data_frame.drop(['관련 태그 전체','주소','태그','우편번호'],axis=1)
data_frame2

,콘텐츠 ID,콘텐츠명,도로명주소,간단소개,위도,경도,전화번호
0,CNTS_000000000022203,달빛머금은카페,제주특별자치도 제주시 중앙로3길 17,칠성로 탑동사거리 숨어있는 제주 돌담 달빛머금은 카페,33.515693,126.526447,070-4244-0708
1,CNTS_200000000009101,해적선,제주특별자치도 제주시 추자면 추자로 42-1,추자도에서 잡히는 싱싱한 생선으로 요리하는 음식점,33.962759,126.295205,010-8623-8229
2,CNTS_000000000001014,영춘식당,제주특별자치도 제주시 도남로7길 37-1,"육개장, 갈비탕 전문점으로 정식과 두루치기를 판매하는 가족경영의 착한가격업소 영춘식당",33.496890,126.527363,064-900-2770
3,CNTS_000000000022189,멘도롱 카페,제주특별자치도 서귀포시 대정읍 하모항구로 70,제주 서귀포에 위치한 조용하고 예쁜 모슬포항 멘도롱 카페,33.219499,126.251543,064-792-3727
4,CNTS_200000000008049,열공부엌,제주특별자치도 제주시 선덕로8길 26 비산쉐르빌 가동 103호,5000원에 잘 차려진 집밥 한 상을 먹을 수 있는 곳.,33.483257,126.500801,064-712-6009
...,...,...,...,...,...,...,...
1575,CONT_000000000501252,바다풍경횟집,제주특별자치도 제주시 서해안로 654,용두암과 용연구름다리 근방 횟집,33.516186,126.506919,064-743-7779
1576,CNTS_200000000013010,우리회수산,제주특별자치도 제주시 동문로2길 10,동문시장 내 위치한 우리회수산은 국내 최초 딱새우 숙성법을 특허받아 신선하고 맛있는...,33.512304,126.526716,064-758-4282
1577,CNTS_200000000007431,제주선,제주특별자치도 서귀포시 안덕면 신화역사로304번길 38,메리어트관 제주신화월드에 위치한 한식 전문점,33.307614,126.317513,064-908-1260
1578,CNTS_000000000018623,우무깨식당,제주특별자치도 제주시 우도면 우도해안길 356,우도도항선대합실 주변에 위치한 물회가 주메뉴인 우무깨식당,33.509940,126.943535,064-783-6753
1579,CNTS_000000000022517,라포레사려니,제주시 조천읍 비자림로 685-3,프랑스에서 오랜 살다온 부부가 운영하는 프랑스가정식 겸 예쁜 카페,33.436890,126.679910,064-784-9507

In [31]:
df2.head()

,콘텐츠 ID,콘텐츠명,STORE_NAME,CATEGORY,STORE_SCORE,STORE_ADDR,TEL,OPEN_CLOSE_TIME,WRITER,CONTENT,CREATED_AT,TYPE,IMG_LINK
0,CNTS_200000000009101,해적선,해적선,생선회,NaN,제주 제주시 추자면 추자로 42-1 1층,0507-1350-7112,NaN,NaN,NaN,NaN,네이버,NaN
1,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,st****,지인소개로 왔어요 지금 주문후 기다리는 중인데 일단 매우 청결한 홀 상태 맘에 ...,2.2.목,네이버,NaN
2,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,괴녀루팡min47,현지인 맛집이라고 검색 해서 갔는데 친절한 사장님 맛나게 잘 먹고 왔습니다 재방문...,22.12.19.월,네이버,NaN
3,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,좋아요굿,2인정식 26000원입니다.\n\n반찬잘나오는편이에요\n굿,1.17.화,네이버,NaN
4,CNTS_000000000001014,영춘식당,영춘식당,한식,별점\n4.57/5,제주 제주시 평전길 12 1층 영춘식당,0507-1425-2773,NaN,좋아요굿,반찬이 정갈하고 깔끔해요\n\n친절하시고 \n맛있어요^^,1.16.월,네이버,NaN

In [32]:
df2_pre = df2.drop(['콘텐츠명','WRITER','CONTENT','TYPE','CREATED_AT',
                    'STORE_NAME','STORE_ADDR'],axis=1)

In [33]:
df2_pre.shape

(95279, 6)

In [34]:
df2_pre = df2_pre.drop_duplicates(['콘텐츠 ID'], keep='first')
df2_pre.shape

(368, 6)

In [35]:
df2_pre

,콘텐츠 ID,CATEGORY,STORE_SCORE,TEL,OPEN_CLOSE_TIME,IMG_LINK
0,CNTS_200000000009101,생선회,NaN,0507-1350-7112,NaN,NaN
1,CNTS_000000000001014,한식,별점\n4.57/5,0507-1425-2773,NaN,NaN
78,CNTS_200000000009113,"육류,고기요리",별점\n4.25/5,064-742-0478,NaN,NaN
91,CONT_000000000501383,추어탕,별점\n4.24/5,064-723-7588,NaN,NaN
139,CNTS_200000000008501,베트남음식,별점\n4.45/5,0507-1329-6884,일정기휴무 (매주 일요일),NaN
...,...,...,...,...,...,...
93924,CNTS_000000000019250,"카페,디저트",별점\n4.26/5,064-738-2882,NaN,NaN
95023,CNTS_200000000013450,중식당,별점\n4.37/5,064-724-6660,NaN,NaN
95052,CNTS_200000000009008,"카페,디저트",별점\n4.27/5,064-794-0073,NaN,NaN
95072,CNTS_000000000018299,카페,별점\n4.31/5,0507-1403-5943,NaN,NaN
95092,CNTS_200000000007431,한식,별점\n4.36/5,064-908-1260,매일12:00 - 21:30\n14:30 - 17:00 브레이크타임,NaN

In [36]:
data_frame2.head()

,콘텐츠 ID,콘텐츠명,도로명주소,간단소개,위도,경도,전화번호
0,CNTS_000000000022203,달빛머금은카페,제주특별자치도 제주시 중앙로3길 17,칠성로 탑동사거리 숨어있는 제주 돌담 달빛머금은 카페,33.515693,126.526447,070-4244-0708
1,CNTS_200000000009101,해적선,제주특별자치도 제주시 추자면 추자로 42-1,추자도에서 잡히는 싱싱한 생선으로 요리하는 음식점,33.962759,126.295205,010-8623-8229
2,CNTS_000000000001014,영춘식당,제주특별자치도 제주시 도남로7길 37-1,"육개장, 갈비탕 전문점으로 정식과 두루치기를 판매하는 가족경영의 착한가격업소 영춘식당",33.496890,126.527363,064-900-2770
3,CNTS_000000000022189,멘도롱 카페,제주특별자치도 서귀포시 대정읍 하모항구로 70,제주 서귀포에 위치한 조용하고 예쁜 모슬포항 멘도롱 카페,33.219499,126.251543,064-792-3727
4,CNTS_200000000008049,열공부엌,제주특별자치도 제주시 선덕로8길 26 비산쉐르빌 가동 103호,5000원에 잘 차려진 집밥 한 상을 먹을 수 있는 곳.,33.483257,126.500801,064-712-6009

In [37]:
data_frame2.shape

(1580, 7)

In [38]:
data_frame3 = pd.merge(data_frame2, df2_pre, how='inner', left_on = '콘텐츠 ID', right_on = '콘텐츠 ID')
data_frame3.head()

,콘텐츠 ID,콘텐츠명,도로명주소,간단소개,위도,경도,전화번호,CATEGORY,STORE_SCORE,TEL,OPEN_CLOSE_TIME,IMG_LINK
0,CNTS_200000000009101,해적선,제주특별자치도 제주시 추자면 추자로 42-1,추자도에서 잡히는 싱싱한 생선으로 요리하는 음식점,33.962759,126.295205,010-8623-8229,생선회,NaN,0507-1350-7112,NaN,NaN
1,CNTS_000000000001014,영춘식당,제주특별자치도 제주시 도남로7길 37-1,"육개장, 갈비탕 전문점으로 정식과 두루치기를 판매하는 가족경영의 착한가격업소 영춘식당",33.496890,126.527363,064-900-2770,한식,별점\n4.57/5,0507-1425-2773,NaN,NaN
2,CNTS_200000000009113,황금섬숯불갈비,제주특별자치도 제주시 추자면 추자로 36,추자에서 즐기는 제주산 돼지고기,33.963678,126.295766,064-742-0478,"육류,고기요리",별점\n4.25/5,064-742-0478,NaN,NaN
3,CONT_000000000501383,추가네,제주특별자치도 제주시 서사로 176(오라일동),"착한가격업소, 야채를 새벽시장에서 저렴하게 구입하고, 국내산 미꾸라지로 추어탕이 유...",33.496532,126.519570,064-723-7588,추어탕,별점\n4.24/5,064-723-7588,NaN,NaN
4,CNTS_200000000008501,리틀비엣,제주특별자치도 제주시 인다7길 16,제주시 아라동에 위치한 베트남 음식점.,33.451531,126.563226,064-725-6884,베트남음식,별점\n4.45/5,0507-1329-6884,일정기휴무 (매주 일요일),NaN

In [39]:
data_frame3.shape

(369, 12)

In [40]:
data_frame3.rename(columns={'콘텐츠 ID':'ID','콘텐츠명':'TITLE','간단소개':'DESCRIPTION',
                            '도로명주소':'ADDRESS','위도':'LAT','경도':'LON','전화번호':'TEL',
                            'OPEN_CLOSE_TIME':'OPEN_TIME'},inplace=True)

In [41]:
data_frame3.rename(columns={'STORE_SCORE':'STORE_OF_NAVER'},inplace=True)
# 필요한경우 STORE_OF_KAKAO 변경

In [42]:
data_frame3 = data_frame3[['ID','TITLE','ADDRESS','LAT','LON','TEL','OPEN_TIME','CATEGORY',
                           'DESCRIPTION','STORE_OF_NAVER','IMG_LINK']]
# 필요한경우 STORE_OF_KAKAO 변경

In [43]:
data_frame3.shape

(369, 12)

In [44]:
data_frame3['STORE_OF_NAVER'] = data_frame3['STORE_OF_NAVER'].replace('별점\n', '', regex=True)
data_frame3['STORE_OF_NAVER'] = data_frame3['STORE_OF_NAVER'].replace('/5', '', regex=True)

In [45]:
data_frame3

,ID,TITLE,ADDRESS,LAT,LON,TEL,TEL,OPEN_TIME,CATEGORY,DESCRIPTION,STORE_OF_NAVER,IMG_LINK
0,CNTS_200000000009101,해적선,제주특별자치도 제주시 추자면 추자로 42-1,33.962759,126.295205,010-8623-8229,0507-1350-7112,NaN,생선회,추자도에서 잡히는 싱싱한 생선으로 요리하는 음식점,NaN,NaN
1,CNTS_000000000001014,영춘식당,제주특별자치도 제주시 도남로7길 37-1,33.496890,126.527363,064-900-2770,0507-1425-2773,NaN,한식,"육개장, 갈비탕 전문점으로 정식과 두루치기를 판매하는 가족경영의 착한가격업소 영춘식당",4.57,NaN
2,CNTS_200000000009113,황금섬숯불갈비,제주특별자치도 제주시 추자면 추자로 36,33.963678,126.295766,064-742-0478,064-742-0478,NaN,"육류,고기요리",추자에서 즐기는 제주산 돼지고기,4.25,NaN
3,CONT_000000000501383,추가네,제주특별자치도 제주시 서사로 176(오라일동),33.496532,126.519570,064-723-7588,064-723-7588,NaN,추어탕,"착한가격업소, 야채를 새벽시장에서 저렴하게 구입하고, 국내산 미꾸라지로 추어탕이 유...",4.24,NaN
4,CNTS_200000000008501,리틀비엣,제주특별자치도 제주시 인다7길 16,33.451531,126.563226,064-725-6884,0507-1329-6884,일정기휴무 (매주 일요일),베트남음식,제주시 아라동에 위치한 베트남 음식점.,4.45,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364,CNTS_000000000001507,황금어장,제주특별자치도 제주시 사장길 14,33.484398,126.495556,064-748-8989,064-748-8989,일09:00 - 21:00\n20:00 라스트오더,한식,제주도 향토음식을 다양하게 즐길 수 있는 곳,4.29,NaN
365,CNTS_200000000013450,길림성,제주특별자치도 제주시 남성로 37,33.503663,126.512825,064-724-6660,064-724-6660,NaN,중식당,제주의 대표적인 중화냉우동 맛집,4.37,NaN
366,CNTS_200000000009008,새빌,제주특별자치도 제주시 애월읍 평화로 1529,33.364376,126.363063,064-794-0073,064-794-0073,NaN,"카페,디저트",제주 억새 명소 새별오름 뷰 애월 카페,4.27,NaN
367,CNTS_000000000018299,애월더선셋,제주특별자치도 제주시 애월읍 일주서로 6111,33.456004,126.308908,064-799-7177,0507-1403-5943,NaN,카페,애월에 위치한 애월더선셋은 노을 지는 애월 바다를 감상할 수 있는 오션뷰 브런치 카...,4.31,NaN
368,CNTS_200000000007431,제주선,제주특별자치도 서귀포시 안덕면 신화역사로304번길 38,33.307614,126.317513,064-908-1260,064-908-1260,매일12:00 - 21:30\n14:30 - 17:00 브레이크타임,한식,메리어트관 제주신화월드에 위치한 한식 전문점,4.36,NaN

In [46]:
data_frame3.isnull().sum()

ID                  0
TITLE               0
ADDRESS             0
LAT                 1
LON                 1
TEL                17
TEL                 4
OPEN_TIME         245
CATEGORY            0
DESCRIPTION         0
STORE_OF_NAVER     60
IMG_LINK          369
dtype: int64

In [47]:
df4.shape

(95279, 6)

In [48]:
df4

,ID,WRITER,CONTENT,TYPE,SCORE,CREATED_AT
0,CNTS_200000000009101,NaN,NaN,naver,NaN,NaN
1,CNTS_000000000001014,st****,지인소개로 왔어요 지금 주문후 기다리는 중인데 일단 매우 청결한 홀 상태 맘에 ...,naver,4.57,2.2.목
2,CNTS_000000000001014,괴녀루팡min47,현지인 맛집이라고 검색 해서 갔는데 친절한 사장님 맛나게 잘 먹고 왔습니다 재방문...,naver,4.57,22.12.19.월
3,CNTS_000000000001014,좋아요굿,2인정식 26000원입니다.반찬잘나오는편이에요굿,naver,4.57,1.17.화
4,CNTS_000000000001014,좋아요굿,반찬이 정갈하고 깔끔해요친절하시고 맛있어요^^,naver,4.57,1.16.월
...,...,...,...,...,...,...
95274,CNTS_200000000007431,home7,은갈치 정식을 너무 맛있게먹었어요.어설픈 가게 가는 것보다 한 끼 정갈하게 딱! 먹...,naver,4.36,20.8.14.금
95275,CNTS_200000000007431,날아라민짱,갈치가 매우짬.,naver,4.36,20.9.12.토
95276,CNTS_200000000007431,2j****,NaN,naver,4.36,20.3.18.수
95277,CNTS_200000000007431,연세미니성형외과,NaN,naver,4.36,20.3.18.수
95278,CNTS_200000000007431,kik****,신화월드 메리어트 호텔내 고급진 한식당이에요. 분위기. 음식맛 최고내요.,naver,4.36,20.1.1.수

In [59]:
df4.loc[df4['WRITER'] == ' ']

Empty DataFrame
Columns: [ID, WRITER, CONTENT, TYPE, SCORE, CREATED_AT]
Index: []

In [53]:
df4.isnull().sum()

ID               0
WRITER          30
CONTENT       3726
TYPE             0
SCORE         6914
CREATED_AT      10
dtype: int64

In [49]:
output_file = 'naver_restorant_review_result.csv'
df4.to_csv(output_file, index = False, encoding = 'utf-8')

In [50]:
output_file = 'naver_restorant_company_result.csv'
data_frame3.to_csv(output_file, index = False, encoding = 'utf-8')