In [3]:
import pandas as pd

## 문제2

In [4]:
movies = pd.read_csv("../data/movies.csv")
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

### 로튼토마토 지수가 높은 순으로 영화 목록 불러오기 (TOP 10)

In [12]:
movies.nlargest(10,'Rotten Tomatoes %')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
43,Midnight in Paris,Romence,Sony,84,8.744706,93,$148.66,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
7,Waitress,Romance,Independent,67,11.089742,89,$22.18,2007
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
57,Jane Eyre,Romance,Universal,77,0.000000,85,$30.15,2011

### 관객이 뽑은 최악의 영화

In [16]:
movies.nsmallest(1,'Audience score %')

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010